[submodule "smartbch"]
	path = smartbch
	url = git@github.com:smartbch/smartbch.git
[submodule "actorforth-smartbch-amber"]
	path = actorforth-smartbch-amber
	url = git@github.com:actorforth/smartbch.git
